<!DOCUTYPE html>
<html land= "ja">
<head>
	<meta charset= "utf-8">
	<title>StressShredder</title>
	<%= stylesheet_link_tag "application" %>

</head>
<body>
	<header>
		<h1>StressShredder</h1>
	</header>

	<div CLASS= "container"> 
	<div CLASS= "content">
		<article>
			<p>コップが溢れてしまう前に、<br>「ぐち」「じまん」「おいのり」３種類の本音を吐き出してしまおう。<br>自分が抱えている気持ちをあえて言葉にすることで葛藤を見出せる・・・・かも。</p>
			<figure　>
				<%= image_tag 'jizou.png' , :alt => 'お地蔵さんです。' %>
<!---	<img src= "jizou.png"　alt= "お地蔵さんです。"　--->
			</figure>
			<h2>Nouaru-Taka Tsume Kakusu</h2>
		</article>
	</div>
	<div CLASS= "menu">
		<aside>
		<ul>
		<li><font size="11">
		<%= link_to 'ぐち', 'guchi.html' %>
		</font>
		</li>
		<br>
<!---		<li><a href= "guch.html"><font size="11">ぐち</font></a></li> --->
		<li><font size="11">
		<%= link_to 'じまん', 'jiman.html' %>
		</font></li>
<!---		<li><a href= "guch.html"><font size="11">じまん</font></a></li> --->
				<br>
		<li><font size="11">
		<%= link_to 'おいのり', 'inori.html' %>
		</font></li>
<!---		<li><a href= "guch.html"><font size="11">おいのり</font></a></li> --->
				<br>
		</ul>
		</aside>
		<br><br><br><br><br>
			<font size="11" face="Impact">
			<%= link_to 'ふりかえり', 'list.html' %>
			</font></li>
	</div>
	</div>

<div CLASS= "footer">
	<small>Copyright &copy; team_cim, all rights reserved.</small>
	<br><br><br>
</div>
test5555<br>
	
</body>
</html>
